{% extends "base.html" %}


{% block content %}
{{ page.content | safe }}
<div id="content" class="site-content">
 <div class="breadcrumbs">
  <div class="container">
   <div class="breadcrumbs__title"></div>
   <div class="breadcrumbs__items">
    <div class="breadcrumbs__content">
     <div class="breadcrumbs__wrap">
      <div class="breadcrumbs__item"><a href="../index.html" class="breadcrumbs__item-link is-home" rel="home" title="Home">Home</a></div>
      <div class="breadcrumbs__item">
       <div class="breadcrumbs__item-sep">|</div>
      </div>
      <div class="breadcrumbs__item"><span class="breadcrumbs__item-target">About The Doctor</span></div>
     </div>
    </div>
   </div>
   <div class="clear"></div>
  </div>
 </div>
 <div class="site-content_wrap">
  <div class="row">
   <div id="primary" class="col-xs-12 col-md-12">
    <main id="main" class="site-main" role="main">
     <article id="post-155" class="post-155 page type-page status-publish hentry no-thumb">
      <header class="entry-header">
       <h1 class="entry-title screen-reader-text">About The Doctor</h1>
      </header>
      <!-- .entry-header -->
      <div class="entry-content">
       <div class="tm_builder_outer_content" id="tm_builder_outer_content">
        <div class="tm_builder_inner_content tm_pb_gutters3">
         <div class="tm_pb_section  tm_pb_section_0 tm_section_regular tm_section_transparent">
          <div class="container">
           <div class=" row tm_pb_row tm_pb_row_0 tm_pb_col_padding_reset">
            <div class="tm_pb_column tm_pb_column_4_4  tm_pb_column_0 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
             <hr class="tm_pb_module tm_pb_space tm_pb_divider_0" />
             <div class="tm_pb_text tm_pb_module tm_pb_bg_layout_light tm_pb_text_align_center  tm_pb_text_0">
              <h3>About The Osteopathic Doctor</h3>
             </div>
             <!-- .tm_pb_text -->
             <hr class="tm_pb_module tm_pb_space tm_pb_divider_1" />
             <div class="tm_pb_module tm-waypoint tm_pb_image tm_pb_animation_off tm_pb_image_0 tm_always_center_on_mobile">
              <img src="/images/img17.jpg" alt="" />
             </div>
             <hr class="tm_pb_module tm_pb_space tm_pb_divider_2" />
            </div>
            <!-- .tm_pb_column -->
           </div>
           <!-- .tm_pb_row -->
          </div>
          <div class="container">
           <div class=" row tm_pb_row tm_pb_row_1">
            <div class="tm_pb_column tm_pb_column_1_2  tm_pb_column_1 col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
             <div class="tm_pb_module tm-waypoint tm_pb_image tm_pb_animation_off img_add2 tm_pb_image_1 tm_always_center_on_mobile">
              <img src="/images/doc-tall.jpg" alt="" />
             </div>
            </div>
            <!-- .tm_pb_column -->
            <div class="tm_pb_column tm_pb_column_1_2  tm_pb_column_2 col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
             <div class="tm_pb_text tm_pb_module tm_pb_bg_layout_light tm_pb_text_align_left  tm_pb_text_1">
              <h5>Igor Beneditskiy, M.D.,D.O.</h5>
              <p class="offset1">is a board certified Osteopathic Family Doctor, Pain Medicine Specialist in Brooklyn, NY. He has dedicated his practice to the <strong>treatment of pain</strong>, emphasizing a <strong>non-surgical approach</strong>to acute and chronic pain with the ultimate goal of <strong>returning patients to their active lives</strong>.</p>
              <h5>Osteopathic Family Practice</h5>
              <p class="offset1">The focus of his practice is dedicated to <strong>non invasive, non surgical, osteopathic therapy</strong> which involves relatively simple <strong>painless procedures</strong> of treatment with the bare hands. After excessive detailed physical examination and reviewing of old and the most recent Labs, X-ray, Ultrasound and available MRI imagings Dr. Beneditskiy very accurately and precisely applies specific for the problem technique to unblock the nerves that may be the source of pain, accelerating the healing process and helping to <strong>restore body functions</strong>.</p>
              <h5>Doctor of Osteopathy &#8211; Dr. Beneditskiy</h5>
              <p class="offset1">Dr. Beneditskiy received his training and graduated from:</p>
              <ul>
               <li  style="padding-left:25px">Medical School: Tartu University School of Medicine, Tartu, Estonia, M.D.</li>
               <li style="padding-left:25px">Medical School: New York College of Osteopathic Medicine, Old Westbury, NY, D.O.</li>
               <li style="padding-left:25px">Internship: St. John&#8217;s Episcopal Hospital, Queens, NY -Traditional Rotating Internship</li>
               <li style="padding-left:25px">Residency: Peninsula Hospital , Queens, NY &#8211; Family Practice</li>
              </ul>
              <p>The intensive study and many years of practice has led Dr. Beneditskiy to obtain a comprehensive knowledge of different pain syndromes and conditions, ranging from sports and work related injuries to the muscles, joints and bones pain of our daily lives.</p>
              <p>Dr. Beneditskiy is a board certified <strong>Diplomate of the American Board of Family Practice and Osteopathic Manipulative Medicine</strong>. He is a member of the <strong>American Osteopathic Association, American College of Osteopathic Family Physicians&nbsp;(ACOFP).</strong></p>
              <h5>Pain Management</h5>
              <p class="offset1">Driven by his dedication to medicine and his specialty, Dr. Beneditskiy continually attends education seminars and conferences and keeps up to date with the latest developments in the field of <strong>Internal Medicine and Pain Management</strong> Outside of work, Dr. Beneditskiy maintains a very active lifestyle. He enjoys cycling, inline rollerblading and swimming.</p>
             </div>
             <!-- .tm_pb_text -->
            </div>
            <!-- .tm_pb_column -->
           </div>
           <!-- .tm_pb_row -->
          </div>
          <div class="container">
           <div class=" row tm_pb_row tm_pb_row_2">
            <div class="tm_pb_column tm_pb_column_4_4  tm_pb_column_3 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
             <hr class="tm_pb_module tm_pb_space tm_pb_divider_3" />
            </div>
            <!-- .tm_pb_column -->
           </div>
           <!-- .tm_pb_row -->
          </div>
         </div>
         <!-- .tm_pb_section -->
        </div>
       </div>
      </div>
      <!-- .entry-content -->
      <footer class="entry-footer">
      </footer>
      <!-- .entry-footer -->
     </article>
     <!-- #post-## -->
    </main>
    <!-- #main -->
   </div>
   <!-- #primary -->
  </div>
  <!-- .row -->
 </div>
 <!-- .container -->
</div>
<!-- #content -->

{% endblock content %}
