<footer id="colophon" class="site-footer default container" role="contentinfo">
    <div class="footer-area-wrap ">
        <div class="container">
            <section id="footer-area" class="footer-area widget-area row">
                <aside id="be_dentist_widget_about-1" class="col-xs-12 col-sm-6 col-md-3  widget widget-about">
                    <div class="widget-about__logo">
                        <a class="widget-about__logo-link" href="index.html">
                            <img class="widget-about__logo-img" src="/images/footer_logo.png" alt="Best New York Osteopathic">
                        </a>
                    </div>
                    <div class="widget-about__tagline">
                        <p>Osteopathic Manipulative Medicine</p>
                    </div>
                    <div class="widget-about__content">
                        <div class="tm_builder_outer_content" id="tm_builder_outer_content">
                            <div class="tm_builder_inner_content tm_pb_gutters3">
                                <p>Best New York Osteopathic is here to help you with any health related concern you may have. Dr. Beneditskiy and his individualized approach will help you get back on your feet in no time!</p>
                            </div>
                        </div>
                    </div>
                </aside>
                <aside id="text-2" class="col-xs-12 col-sm-6 col-md-3  widget widget_text">
                    <h6 class="widget-title">Office hours</h6>
                    <div class="textwidget">
                        <div class="hours-list">
                            <div class="fa fa-clock-o">
                                <h5>Manhattan Office:</h5>
                                <em>Tuesday: 11am–5pm</em><em>Thursday: 11am–5pm</em>
                            </div>
                            <div class="fa fa-clock-o">
                                <h5>Brooklyn Office:</h5>
                                <em>Monday: 10am–6pm</em><em>Wednesday: 10am–6pm</em><em>Friday: 10am–6pm</em><em>Saturday: 10am–6pm</em>
                            </div>
                        </div>
                    </div>
                </aside>
                <aside id="text-3" class="col-xs-12 col-sm-6 col-md-3  widget widget_text">
                    <h6 class="widget-title">Contacts</h6>
                    <div class="textwidget">
                        <ul class="contacts-list">
                            <li class="fa  fa-phone"> <a href="tell:7185761212" ><em>718.576.1212</em></a></li>
                            <li class="fa fa-envelope"><a href="mailto:beneditskiy@yahoo.com" ><em>beneditskiy@yahoo.com</em></a></li>
                            <li class="fa fa-map-marker">
                                <address><em>225 Broadway, New York, NY 10007</em></address>
                            </li>
                            <li class="fa fa-map-marker">
                                <address><em>2797 Ocean Pkwy, Brooklyn, NY 11235</em></address>
                            </li>
                        </ul>
                    </div>
                </aside>
            </section>
        </div>
    </div>
    <div class="footer-container">
        <div class="site-info container">
            <div class="site-info__flex">
                <div class="site-info__mid-box">
                    <div class="footer-copyright">©  2020 <span>Best New York Osteopathic</span>. All rights reserved.</div>
                    <nav id="footer-navigation" class="footer-menu" role="navigation">
                    </nav>
                    <!-- #footer-navigation -->
                </div>
            </div>
        </div>
        <!-- .site-info -->
    </div>
    <!-- .container -->
</footer>

<script type='text/javascript' src='/js/cherry-js-core.min8a54.js'></script>
<script type='text/javascript' src='/js/spin.min7406.js'></script>
<script type='text/javascript' src='/js/spin.jquery7406.js'></script>
<script type='text/javascript' src='/js/jquery.tooltipster.min9b70.js'></script>
<script type='text/javascript' src='/js/functionsa242.js'></script>
<script type='text/javascript' src='/js/frontend-builder-global-functions8a54.js'></script>
<script type='text/javascript' src='/js/swiper.jquery.min9b70.js'></script>
<script type='text/javascript' src='/js/jquery.sliderPro.min9030.js'></script>
<script type='text/javascript' src='/js/scripts20fd.js'></script>
<script type='text/javascript' src='/js/hoverIntent.minc245.js'></script>
<script type='text/javascript' src='/js/jquery.ui.totop.min7359.js'></script>
<script type='text/javascript' src='/js/theme-script8a54.js'></script>
<script type='text/javascript' src='/js/cherry-post-formats.min8a54.js'></script>
<script type='text/javascript' src='/js/twitter-widgets5152.js'></script>
<!-- <script type='text/javascript' src='http://maps.google.com/maps/api/js?v=3&amp;key=AIzaSyBL91Ev8I3si14_7uNzyon8yPfwpavtqwo&amp;ver=1.0.0'></script> -->
<script type='text/javascript' src='/js/jquery.fitvids8a54.js'></script>
<script type='text/javascript' src='/js/waypoints.min8a54.js'></script>
<script type='text/javascript' src='/js/jquery.magnific-popup.minf269.js'></script>
<script type='text/javascript' src='/js/jquery.mobile.custom.min8a54.js'></script>
<script type='text/javascript' src='/js/jquery.closest-descendent8a54.js'></script>
<script type='text/javascript' src='/js/jquery.reverse8a54.js'></script>
<script type='text/javascript' src='/js/jquery.tm-pb-simple-carousel8a54.js'></script>
<script type='text/javascript' src='/js/jquery.tm-pb-simple-slider8a54.js'></script>
<script type='text/javascript' src='/js/jquery.easypiechart8a54.js'></script>
<script type='text/javascript' src='/js/tm-hash8a54.js'></script>
<script type='text/javascript' src='/js/scripts8a54.js'></script>
<script type='text/javascript' src='/js/jquery.fittext8a54.js'></script>
<script type='text/javascript' src='/js/wp-embed.min5010.js'></script>