{% extends "base.html" %}

{% block content %}

<!-- #masthead -->
<div id="content" class="site-content">
    <div class="site-content_wrap">
        <div class="row">
            <div id="primary" class="col-xs-12 col-md-12">
                <main id="main" class="site-main" role="main">
                    <article id="post-65" class="post-65 page type-page status-publish hentry no-thumb">
                        <header class="entry-header">
                            <h1 class="entry-title screen-reader-text">Home</h1>
                        </header>
                        <!-- .entry-header -->
                        <div class="entry-content">
                            <div class="tm_builder_outer_content" id="tm_builder_outer_content">
                                <div class="tm_builder_inner_content tm_pb_gutters3">
                                    <div class="tm_pb_section  tm_pb_section_0 tm_section_regular tm_section_transparent">
                                        <div class=" row tm_pb_row tm_pb_row_0 tm_pb_row_fullwidth tm_pb_col_padding_reset">
                                            <div class="tm_pb_column tm_pb_column_4_4  tm_pb_column_0 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="tm_pb_slider tm_pb_slider_0 tm_pb_slider_fullwidth_off     tm_pb_module">
                                                    <div class="tm_pb_slides">
                                                        <div class="tm_pb_slide tm_pb_bg_layout_light tm_pb_media_alignment_center tm_pb_slide_0 tm-pb-active-slide" style='background-color:#ffffff;background-image:url(/images/slide01.jpg);'>
                                                            <div class="tm_pb_container clearfix">
                                                                <div class="tm_pb_slide_description">
                                                                    <div class="tm_pb_slide_content">
                                                                        <h1 style="text-align: left;">Dr. Igor Beneditskiy,<br />M.D., D.O.</h1>
                                                                        <h5>Our Osteopathic clinic welcomes you!</h5>
                                                                        </p>
                                                                    </div>
                                                                    <a href="https://www.zocdoc.com/search/?dr_specialty=153&amp;address=Coney+Island%2C+Brooklyn%2C+NY&amp;insurance_carrier=-2&amp;insurance_plan=-1&amp;reason_visit=75&amp;gender=-1&amp;language=-1&amp;patienttypechild=&amp;offset=0&amp;referrertype=&amp;sort_selection=0&amp;name=igor+beneditskiy&amp;searchquery=&amp;searchqueryguid=&amp;hasnosearchresults=false&amp;hospitalid=-1&amp;timefilter=AnyTime&amp;dayfilter=0&amp;procedurechanged=false&amp;languagechanged=false&amp;" class="tm_pb_more_button tm_pb_button">Book an Appointment</a>
                                                                </div>
                                                                <!-- .tm_pb_slide_description -->
                                                            </div>
                                                            <!-- .tm_pb_container -->
                                                        </div>
                                                        <!-- .tm_pb_slide -->
                                                    </div>
                                                    <!-- .tm_pb_slides -->
                                                </div>
                                                <!-- .tm_pb_slider -->
                                                <div class="tm_pb_blurb liner tm_pb_blurb_0 tm_pb_bg_layout_light tm_pb_text_align_left tm_pb_blurb_position_top tm_pb_module">
                                                    <div class="tm_pb_blurb_content">
                                                        <div class="tm_pb_main_blurb_image"><img src="/images/img41.jpg" alt="" class="tm-waypoint tm_pb_animation_off" /></div>
                                                        <div class="tm_pb_blurb_container">
                                                            <div class="tm_pb_blurb_content">
                                                                <div class="overlay">
                                                                    <h5>Dr. Igor Beneditskiy, M.D. D.O.</h5>
                                                                    <p>Our Osteopathic clinic welcomes you!</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- .tm_pb_blurb_content -->
                                                </div>
                                                <!-- .tm_pb_blurb -->
                                            </div>
                                            <!-- .tm_pb_column -->
                                        </div>
                                        <!-- .tm_pb_row -->
                                    </div>
                                    <!-- .tm_pb_section -->
                                    <div class="tm_pb_section  tm_pb_section_1 tm_section_regular tm_section_transparent">
                                        <div class="container">
                                            <div class=" row tm_pb_row tm_pb_row_1">
                                                <div class="tm_pb_column tm_pb_column_4_4  tm_pb_column_1 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <hr class="tm_pb_module tm_pb_space tm_pb_divider_0" />
                                                </div>
                                                <!-- .tm_pb_column -->
                                            </div>
                                            <!-- .tm_pb_row -->
                                        </div>
                                        <div class="container">
                                            <div class=" row tm_pb_row tm_pb_row_2">
                                                <div class="tm_pb_column tm_pb_column_1_2  tm_pb_column_2 col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                    <div class="tm_pb_module tm-waypoint tm_pb_image tm_pb_animation_off img_add tm_pb_image_0 tm_always_center_on_mobile">
                                                        <img src="/images/img09.jpg" alt="" />
                                                    </div>
                                                </div>
                                                <!-- .tm_pb_column -->
                                                <div class="tm_pb_column tm_pb_column_1_2  tm_pb_column_3 col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                    <div class="tm_pb_text tm_pb_module tm_pb_bg_layout_light tm_pb_text_align_left  tm_pb_text_0">
                                                        <h3>Ostheopathic Medicine</h3>
                                                        <p>Started in 1874 by Dr. Andrew Still in the United States, Osteopathic medicine specializes in the spinal and joint health. Osteopathic therapy works with the natural healing abilities of the body and considers the whole person. Osteopathic physicians commonly treat the cause of the problem rather than focus only on symptom relief. The osteopathic New York approach is an emphasis on the person’s health instead of disease.</p>
                                                        <p>Osteopaths study the relationship between the structures and functions of the body. The approach considers the inseparable connection of the body’s functioning to the emotional and spiritual aspects of the person as well. At the core of Osteopathic Medicine New York is belief in the body’s innate ability to self-heal. The osteopath’s role is to find structural alterations and by manipulation, improve the structure and therefore the function. By restoring these, the whole body will maintain better overall health. Thorough knowledge of all systems of the body and training in the comprehensive osteopathic approach is the main difference between this and other forms of manipulative bodywork or therapy.</p>
                                                    </div>
                                                    <!-- .tm_pb_text -->
                                                </div>
                                                <!-- .tm_pb_column -->
                                            </div>
                                            <!-- .tm_pb_row -->
                                        </div>
                                        <div class="container">
                                            <div class=" row tm_pb_row tm_pb_row_3">
                                                <div class="tm_pb_column tm_pb_column_4_4  tm_pb_column_4 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <hr class="tm_pb_module tm_pb_space tm_pb_divider_1" />
                                                </div>
                                                <!-- .tm_pb_column -->
                                            </div>
                                            <!-- .tm_pb_row -->
                                        </div>
                                    </div>
                                    <!-- .tm_pb_section -->
                                    <div class="tm_pb_section  tm_pb_section_3 tm_pb_with_background tm_section_regular">
                                        <div class="container">
                                            <div class=" row tm_pb_row tm_pb_row_4">
                                                <div class="tm_pb_column tm_pb_column_4_4  tm_pb_column_5 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <hr class="tm_pb_module tm_pb_space tm_pb_divider_2" />
                                                </div>
                                                <!-- .tm_pb_column -->
                                            </div>
                                            <!-- .tm_pb_row -->
                                        </div>
                                        <div class="container">
                                            <div class=" row tm_pb_row tm_pb_row_5">
                                                <div class="tm_pb_column tm_pb_column_1_4  tm_pb_column_6 col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                                                    <div class="tm_pb_blurb tm_pb_blurb_1 tm_pb_bg_layout_light tm_pb_text_align_center tm_pb_blurb_position_top tm_pb_module">
                                                        <div class="tm_pb_blurb_content">
                                                            <div class="tm_pb_main_blurb_image"><span class="tm-pb-icon tm-waypoint tm_pb_animation_off tm-pb-icon-circle tm-pb-icon-circle-border" style="color: #ffffff; background-color: #0095e5; border-color: #ffffff;" data-icon="&#xf02d;"></span></div>
                                                            <div class="tm_pb_blurb_container">
                                                                <h4>Easy booking</h4>
                                                                <div class="tm_pb_blurb_content">
                                                                    <p>Booking an appointment at our clinic is as easy as doing 2 clicks!</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- .tm_pb_blurb_content -->
                                                    </div>
                                                    <!-- .tm_pb_blurb -->
                                                </div>
                                                <!-- .tm_pb_column -->
                                                <div class="tm_pb_column tm_pb_column_1_4  tm_pb_column_7 col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                                                    <div class="tm_pb_blurb tm_pb_blurb_2 tm_pb_bg_layout_light tm_pb_text_align_center tm_pb_blurb_position_top tm_pb_module">
                                                        <div class="tm_pb_blurb_content">
                                                            <div class="tm_pb_main_blurb_image"><span class="tm-pb-icon tm-waypoint tm_pb_animation_off tm-pb-icon-circle tm-pb-icon-circle-border" style="color: #ffffff; background-color: #0095e5; border-color: #ffffff;" data-icon="&#xf0c0;"></span></div>
                                                            <div class="tm_pb_blurb_container">
                                                                <h4>Experience</h4>
                                                                <div class="tm_pb_blurb_content">
                                                                    <p>Dr. Beneditskiy has over 15 years of practical experience in Osteopathic Manipulative Medicine</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- .tm_pb_blurb_content -->
                                                    </div>
                                                    <!-- .tm_pb_blurb -->
                                                </div>
                                                <!-- .tm_pb_column -->
                                                <div class="tm_pb_column tm_pb_column_1_4  tm_pb_column_8 col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                                                    <div class="tm_pb_blurb tm_pb_blurb_3 tm_pb_bg_layout_light tm_pb_text_align_center tm_pb_blurb_position_top tm_pb_module">
                                                        <div class="tm_pb_blurb_content">
                                                            <div class="tm_pb_main_blurb_image"><span class="tm-pb-icon tm-waypoint tm_pb_animation_off tm-pb-icon-circle tm-pb-icon-circle-border" style="color: #ffffff; background-color: #0095e5; border-color: #ffffff;" data-icon="&#xf017;"></span></div>
                                                            <div class="tm_pb_blurb_container">
                                                                <h4>Flexible schedule</h4>
                                                                <div class="tm_pb_blurb_content">
                                                                    <p>We always work till late during the regular days. In case of emergencies we accept weekend bookings.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- .tm_pb_blurb_content -->
                                                    </div>
                                                    <!-- .tm_pb_blurb -->
                                                </div>
                                                <!-- .tm_pb_column -->
                                                <div class="tm_pb_column tm_pb_column_1_4  tm_pb_column_9 col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                                                    <div class="tm_pb_blurb tm_pb_blurb_4 tm_pb_bg_layout_light tm_pb_text_align_center tm_pb_blurb_position_top tm_pb_module">
                                                        <div class="tm_pb_blurb_content">
                                                            <div class="tm_pb_main_blurb_image"><span class="tm-pb-icon tm-waypoint tm_pb_animation_off tm-pb-icon-circle tm-pb-icon-circle-border" style="color: #ffffff; background-color: #0095e5; border-color: #ffffff;" data-icon="&#xf087;"></span></div>
                                                            <div class="tm_pb_blurb_container">
                                                                <h4>Best price guarantee</h4>
                                                                <div class="tm_pb_blurb_content">
                                                                    <p>Our reasonable prices made hundreds of people smile!!</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- .tm_pb_blurb_content -->
                                                    </div>
                                                    <!-- .tm_pb_blurb -->
                                                </div>
                                                <!-- .tm_pb_column -->
                                            </div>
                                            <!-- .tm_pb_row -->
                                        </div>
                                        <div class="container">
                                            <div class=" row tm_pb_row tm_pb_row_6">
                                                <div class="tm_pb_column tm_pb_column_4_4  tm_pb_column_10 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <hr class="tm_pb_module tm_pb_space tm_pb_divider_3" />
                                                </div>
                                                <!-- .tm_pb_column -->
                                            </div>
                                            <!-- .tm_pb_row -->
                                        </div>
                                    </div>
                                    <!-- .tm_pb_section -->
                                    <div class="tm_pb_section  tm_pb_section_4 tm_section_regular tm_section_transparent">
                                        <div class="container">
                                            <div class=" row tm_pb_row tm_pb_row_7">
                                                <div class="tm_pb_column tm_pb_column_4_4  tm_pb_column_11 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <hr class="tm_pb_module tm_pb_space tm_pb_divider_4" />
                                                    <div class="tm_pb_text tm_pb_module tm_pb_bg_layout_light tm_pb_text_align_center  tm_pb_text_1">
                                                        <h3>Treatments</h3>
                                                    </div>
                                                    <!-- .tm_pb_text -->
                                                    <hr class="tm_pb_module tm_pb_space tm_pb_divider_5" />
                                                </div>
                                                <!-- .tm_pb_column -->
                                            </div>
                                            <!-- .tm_pb_row -->
                                        </div>
                                        <div class="container">
                                            <div class="custom-services  row tm_pb_row tm_pb_row_8">
                                                <div class="tm_pb_column tm_pb_column_1_4  tm_pb_column_12 col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                                                    <div class="tm_pb_blurb tm_pb_blurb_5 tm_pb_bg_layout_light tm_pb_text_align_center tm_pb_blurb_position_top tm_pb_module">
                                                        <div class="tm_pb_blurb_content">
                                                            <div class="tm_pb_main_blurb_image"><a href="migrane-relief/index.html"><img src="/images/img10.jpg" alt="" class="tm-waypoint tm_pb_animation_off" /></a></div>
                                                            <div class="tm_pb_blurb_container">
                                                                <h4><a href="migrane-relief/index.html">Migraine Relief</a></h4>
                                                                <div class="tm_pb_blurb_content">
                                                                    <p>Migraine headaches can come on at any time, dicsover the D.O. hands on approach</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- .tm_pb_blurb_content -->
                                                    </div>
                                                    <!-- .tm_pb_blurb -->
                                                </div>
                                                <!-- .tm_pb_column -->
                                                <div class="tm_pb_column tm_pb_column_1_4  tm_pb_column_13 col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                                                    <div class="tm_pb_blurb tm_pb_blurb_6 tm_pb_bg_layout_light tm_pb_text_align_center tm_pb_blurb_position_top tm_pb_module">
                                                        <div class="tm_pb_blurb_content">
                                                            <div class="tm_pb_main_blurb_image"><a href="back-pain-relief/index.html"><img src="/images/img11.jpg" alt="" class="tm-waypoint tm_pb_animation_off" /></a></div>
                                                            <div class="tm_pb_blurb_container">
                                                                <h4><a href="back-pain-relief/index.html">Back Pain</a></h4>
                                                                <div class="tm_pb_blurb_content">
                                                                    <p>Almost any type of pain in the back can make normal activity very difficult.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- .tm_pb_blurb_content -->
                                                    </div>
                                                    <!-- .tm_pb_blurb -->
                                                </div>
                                                <!-- .tm_pb_column -->
                                                <div class="tm_pb_column tm_pb_column_1_4  tm_pb_column_14 col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                                                    <div class="tm_pb_blurb tm_pb_blurb_7 tm_pb_bg_layout_light tm_pb_text_align_center tm_pb_blurb_position_top tm_pb_module">
                                                        <div class="tm_pb_blurb_content">
                                                            <div class="tm_pb_main_blurb_image"><a href="neck-pain-relief/index.html"><img src="/images/img12.jpg" alt="" class="tm-waypoint tm_pb_animation_off" /></a></div>
                                                            <div class="tm_pb_blurb_container">
                                                                <h4><a href="neck-pain-relief/index.html">Neck Pain</a></h4>
                                                                <div class="tm_pb_blurb_content">
                                                                    <p>If you experience neck pain on a regular basis, then you already realize just how debilitating this condition can be.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- .tm_pb_blurb_content -->
                                                    </div>
                                                    <!-- .tm_pb_blurb -->
                                                </div>
                                                <!-- .tm_pb_column -->
                                                <div class="tm_pb_column tm_pb_column_1_4  tm_pb_column_15 col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                                                    <div class="tm_pb_blurb tm_pb_blurb_8 tm_pb_bg_layout_light tm_pb_text_align_center tm_pb_blurb_position_top tm_pb_module">
                                                        <div class="tm_pb_blurb_content">
                                                            <div class="tm_pb_main_blurb_image"><a href="physical-therapy/index.html"><img src="/images/img13.jpg" alt="" class="tm-waypoint tm_pb_animation_off" /></a></div>
                                                            <div class="tm_pb_blurb_container">
                                                                <h4><a href="physical-therapy/index.html">Physical Therapy</a></h4>
                                                                <div class="tm_pb_blurb_content">
                                                                    <p>Whether you&#8217;ve been injured or have an illness that causes ongoing pain physical therapy could make all the difference.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- .tm_pb_blurb_content -->
                                                    </div>
                                                    <!-- .tm_pb_blurb -->
                                                </div>
                                                <!-- .tm_pb_column -->
                                            </div>
                                            <!-- .tm_pb_row -->
                                        </div>
                                        <div class="container">
                                            <div class=" row tm_pb_row tm_pb_row_9">
                                                <div class="tm_pb_column tm_pb_column_4_4  tm_pb_column_16 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <hr class="tm_pb_module tm_pb_space tm_pb_divider_6" />
                                                </div>
                                                <!-- .tm_pb_column -->
                                            </div>
                                            <!-- .tm_pb_row -->
                                        </div>
                                        <div class="container">
                                            <div class=" row tm_pb_row tm_pb_row_10">
                                                <div class="tm_pb_column tm_pb_column_1_4  tm_pb_column_17 col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                                                    <div class="tm_pb_button_module_wrapper tm_pb_module tm_pb_button_alignment_center">
                                                        <a class="tm_pb_button  tm_pb_button_0 tm_pb_module tm_pb_bg_layout_light" href="/migrane-relief/index.html">Read More</a>
                                                    </div>
                                                </div>
                                                <!-- .tm_pb_column -->
                                                <div class="tm_pb_column tm_pb_column_1_4  tm_pb_column_18 col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                                                    <div class="tm_pb_button_module_wrapper tm_pb_module tm_pb_button_alignment_center">
                                                        <a class="tm_pb_button  tm_pb_button_1 tm_pb_module tm_pb_bg_layout_light" href="/back-pain-relief/index.html">Read More</a>
                                                    </div>
                                                </div>
                                                <!-- .tm_pb_column -->
                                                <div class="tm_pb_column tm_pb_column_1_4  tm_pb_column_19 col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                                                    <div class="tm_pb_button_module_wrapper tm_pb_module tm_pb_button_alignment_center">
                                                        <a class="tm_pb_button  tm_pb_button_2 tm_pb_module tm_pb_bg_layout_light" href="/neck-pain-relief/index.html">Read More</a>
                                                    </div>
                                                </div>
                                                <!-- .tm_pb_column -->
                                                <div class="tm_pb_column tm_pb_column_1_4  tm_pb_column_20 col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                                                    <div class="tm_pb_button_module_wrapper tm_pb_module tm_pb_button_alignment_center">
                                                        <a class="tm_pb_button  tm_pb_button_3 tm_pb_module tm_pb_bg_layout_light" href="/physical-therapy/index.html">Read More</a>
                                                    </div>
                                                </div>
                                                <!-- .tm_pb_column -->
                                            </div>
                                            <!-- .tm_pb_row -->
                                        </div>
                                        <div class="container">
                                            <div class=" row tm_pb_row tm_pb_row_11">
                                                <div class="tm_pb_column tm_pb_column_4_4  tm_pb_column_21 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <hr class="tm_pb_module tm_pb_space tm_pb_divider_7" />
                                                </div>
                                                <!-- .tm_pb_column -->
                                            </div>
                                            <!-- .tm_pb_row -->
                                        </div>
                                    </div>
                                    <!-- .tm_pb_section -->
                                    <div class="tm_pb_section  tm_pb_section_5 tm_pb_with_background tm_section_regular">
                                        <div class="container">
                                            <div class=" row tm_pb_row tm_pb_row_12">
                                                <div class="tm_pb_column tm_pb_column_4_4  tm_pb_column_22 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <hr class="tm_pb_module tm_pb_space tm_pb_divider_8" />
                                                    <div class="tm_pb_text tm_pb_module tm_pb_bg_layout_light tm_pb_text_align_center  tm_pb_text_2">
                                                        <h3>What our patients say</h3>
                                                    </div>
                                                    <!-- .tm_pb_text -->
                                                    <hr class="tm_pb_module tm_pb_space tm_pb_divider_9" />
                                                </div>
                                                <!-- .tm_pb_column -->
                                            </div>
                                            <!-- .tm_pb_row -->
                                        </div>
                                        <div class="container">
                                            <div class=" row tm_pb_row tm_pb_row_13">
                                                <div class="tm_pb_column tm_pb_column_1_3  tm_pb_column_23 col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                                    <div class="tm_pb_testimonial tm_pb_testimonial_0 tm_pb_bg_layout_light tm_pb_text_align_center tm_pb_testimonial_no_bg tm_pb_testimonial_no_image tm_pb_icon_off clearfix tm_pb_module" data-icon="&#xf10d;">
                                                        <div class="tm_pb_testimonial_description">
                                                            <div class="tm_pb_testimonial_description_inner">
                                                                <p>
                                                                    Fantastic doctor knowledgeable good bedside manner and very smart. Was seen right away and his team is also very professional.
                                                                </p>
                                                                <strong class="tm_pb_testimonial_author">
                                                                    Brianna O.		</strong>
                                                                <p class="tm_pb_testimonial_meta"> - Sep. 6, 2016</p>
                                                            </div>
                                                            <!-- .tm_pb_testimonial_description_inner -->
                                                        </div>
                                                        <!-- .tm_pb_testimonial_description -->
                                                    </div>
                                                    <!-- .tm_pb_testimonial -->
                                                </div>
                                                <!-- .tm_pb_column -->
                                                <div class="tm_pb_column tm_pb_column_1_3  tm_pb_column_24 col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                                    <div class="tm_pb_testimonial tm_pb_testimonial_1 tm_pb_bg_layout_light tm_pb_text_align_center tm_pb_testimonial_no_bg tm_pb_testimonial_no_image tm_pb_icon_off clearfix tm_pb_module" data-icon="&#xf10d;">
                                                        <div class="tm_pb_testimonial_description">
                                                            <div class="tm_pb_testimonial_description_inner">
                                                                <p>Great doctor he took the time to ask all the questions before checking my body.went above and beyond explaining to me what was going on and what to do to feel better and other good health advice .you feel doctor Igor cares about his patients!</p>
                                                                <strong class="tm_pb_testimonial_author">
                                                                    Amine B.		</strong>
                                                                <p class="tm_pb_testimonial_meta"> - Feb. 11, 2016</p>
                                                            </div>
                                                            <!-- .tm_pb_testimonial_description_inner -->
                                                        </div>
                                                        <!-- .tm_pb_testimonial_description -->
                                                    </div>
                                                    <!-- .tm_pb_testimonial -->
                                                </div>
                                                <!-- .tm_pb_column -->
                                                <div class="tm_pb_column tm_pb_column_1_3  tm_pb_column_25 col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                                    <div class="tm_pb_testimonial tm_pb_testimonial_2 tm_pb_bg_layout_light tm_pb_text_align_center tm_pb_testimonial_no_bg tm_pb_testimonial_no_image tm_pb_icon_off clearfix tm_pb_module" data-icon="&#xf10d;">
                                                        <div class="tm_pb_testimonial_description">
                                                            <div class="tm_pb_testimonial_description_inner">
                                                                <p>
                                                                    I was looking for a physician who will partner with me to actively manage my health. Dr. Beneditskiy was extremely friendly and attentive, and explained things very clearly. His background as an Osteopathic Physician really appealed to me personally, as I don&#8217;t want a doctor who just defaults to prescriptions and surgery as a solution for Earth concerns.
                                                                </p>
                                                                <strong class="tm_pb_testimonial_author">
                                                                    Barry E.		</strong>
                                                                <p class="tm_pb_testimonial_meta"> - June 23, 2016</p>
                                                            </div>
                                                            <!-- .tm_pb_testimonial_description_inner -->
                                                        </div>
                                                        <!-- .tm_pb_testimonial_description -->
                                                    </div>
                                                    <!-- .tm_pb_testimonial -->
                                                </div>
                                                <!-- .tm_pb_column -->
                                            </div>
                                            <!-- .tm_pb_row -->
                                        </div>
                                        <div class="container">
                                            <div class=" row tm_pb_row tm_pb_row_14">
                                                <div class="tm_pb_column tm_pb_column_4_4  tm_pb_column_26 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <hr class="tm_pb_module tm_pb_space tm_pb_divider_10" />
                                                </div>
                                                <!-- .tm_pb_column -->
                                            </div>
                                            <!-- .tm_pb_row -->
                                        </div>
                                    </div>
                                    <!-- .tm_pb_section -->
                                    <div class="tm_pb_section  tm_pb_section_6 tm_pb_with_background tm_section_regular">
                                        <div class="container">
                                            <div class=" row tm_pb_row tm_pb_row_15">
                                                <div class="tm_pb_column tm_pb_column_4_4  tm_pb_column_27 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <hr class="tm_pb_module tm_pb_space tm_pb_divider_11" />
                                                    <div id="" class="tm_pb_cta invert tm_pb_cta_0 tm_pb_promo tm_pb_bg_layout_light tm_pb_text_align_left tm_pb_no_bg tm_pb_module">
                                                        <div class="tm_pb_promo_description">
                                                            <h2>How we can help...</h2>
                                                            <h5>We offer a wide range of treatments to help you get back on your feet.</h5>
                                                        </div>
                                                        <a class="tm_pb_promo_button tm_pb_button" href="https://www.zocdoc.com/search/?dr_specialty=153&amp;address=Coney+Island%2C+Brooklyn%2C+NY&amp;insurance_carrier=-2&amp;insurance_plan=-1&amp;reason_visit=75&amp;gender=-1&amp;language=-1&amp;patienttypechild=&amp;offset=0&amp;referrertype=&amp;sort_selection=0&amp;name=igor+beneditskiy&amp;searchquery=&amp;searchqueryguid=&amp;hasnosearchresults=false&amp;hospitalid=-1&amp;timefilter=AnyTime&amp;dayfilter=0&amp;procedurechanged=false&amp;languagechanged=false&amp;" target="_blank" data-icon="">
                                                            Book an Appointment</a>
                                                    </div>
                                                    <!-- .tm_pb_cta -->
                                                    <hr class="tm_pb_module tm_pb_space tm_pb_divider_12" />
                                                </div>
                                                <!-- .tm_pb_column -->
                                            </div>
                                            <!-- .tm_pb_row -->
                                        </div>
                                    </div>
                                    <!-- .tm_pb_section -->
                                </div>
                            </div>
                        </div>

                    </article>
                    <!-- #post-## -->
                </main>
                <!-- #main -->
            </div>
            <!-- #primary -->
        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
</div>
<!-- #content -->
{% endblock content %}