{% extends "base.html" %}


{% block content %}
{{ page.content | safe }}

<div id="content" class="site-content container">
    <div class="breadcrumbs">
        <div class="container">
            <div class="breadcrumbs__title"></div>
            <div class="breadcrumbs__items">
                <div class="breadcrumbs__content">
                    <div class="breadcrumbs__wrap">
                        <div class="breadcrumbs__item"><a href="../index.html" class="breadcrumbs__item-link is-home" rel="home" title="Home">Home</a></div>
                        <div class="breadcrumbs__item">
                            <div class="breadcrumbs__item-sep">|</div>
                        </div>
                        <div class="breadcrumbs__item"><span class="breadcrumbs__item-target">Migrane Relief</span></div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="site-content_wrap container">
        <div class="row">
            <div id="primary" class="col-xs-12 col-md-12">
                <main id="main" class="site-main" role="main">
                    <article id="post-1170" class="post-1170 page type-page status-publish hentry no-thumb">
                        <header class="entry-header">
                            <h1 class="entry-title screen-reader-text">Migrane Relief</h1>
                        </header>
                        <!-- .entry-header -->
                        <div class="entry-content">
                            <div class="tm_builder_outer_content" id="tm_builder_outer_content">
                                <div class="tm_builder_inner_content tm_pb_gutters3">
                                    <div class="tm_pb_section services-list tm_pb_section_0 tm_section_regular tm_section_transparent">
                                        <div class="container">
                                            <div class=" row tm_pb_row tm_pb_row_0">
                                                <div class="tm_pb_column tm_pb_column_4_4  tm_pb_column_0 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <hr class="tm_pb_module tm_pb_space tm_pb_divider_0" />
                                                    <div class="tm_pb_text tm_pb_module tm_pb_bg_layout_light tm_pb_text_align_left  tm_pb_text_0">
                                                        <h3>Migraine Relief: How a D.O. Can Help</h3>
                                                    </div>
                                                    <!-- .tm_pb_text -->
                                                    <hr class="tm_pb_module tm_pb_space tm_pb_divider_1" />
                                                </div>
                                                <!-- .tm_pb_column -->
                                            </div>
                                            <!-- .tm_pb_row -->
                                        </div>
                                        <div class="container">
                                            <div class=" row tm_pb_row tm_pb_row_1">
                                                <div class="tm_pb_column tm_pb_column_4_4  tm_pb_column_1 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <div class="tm_pb_text tm_pb_module tm_pb_bg_layout_light tm_pb_text_align_left  tm_pb_text_1">
                                                        <p class="offset1">
                                                            Migraine headaches can come on at any time, but some people suffer with them more often than others. While there are numerous causes of migraines, there&#8217;s still much study to be done concerning these types of headaches. Migraine headaches are often severe, making it almost impossible to continue with everyday activities.
                                                        </p>
                                                    </div>
                                                    <!-- .tm_pb_text -->
                                                </div>
                                                <!-- .tm_pb_column -->
                                            </div>
                                            <!-- .tm_pb_row -->
                                        </div>
                                        <div class="container">
                                            <div class=" row tm_pb_row tm_pb_row_2">
                                                <div class="tm_pb_column tm_pb_column_1_4  tm_pb_column_2 col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                                                    <div class="tm_pb_module tm-waypoint tm_pb_image tm_pb_animation_left tm_pb_image_0 tm_always_center_on_mobile">
                                                        <img src="/images/img10.jpg" alt="Osteopathic Manipulative Medicine" />
                                                    </div>
                                                </div>
                                                <!-- .tm_pb_column -->
                                                <div class="tm_pb_column tm_pb_column_3_4  tm_pb_column_3 col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
                                                    <div class="tm_pb_text tm_pb_module tm_pb_bg_layout_light tm_pb_text_align_left  tm_pb_text_2">
                                                        <h4>Common symptoms of migraine headaches include:</h4>
                                                        <ul>
                                                            <li style="padding-left:25px">Pulsating pain</li>
                                                            <li style="padding-left:25px">Throbbing sensation in the head</li>
                                                            <li style="padding-left:25px">Headache that worsens with activity</li>
                                                            <li style="padding-left:25px">Nausea and/or vomiting</li>
                                                            <li style="padding-left:25px">Sensitivity to noise, light or certain scents.</li>
                                                            <li style="padding-left:25px">Some migraine sufferers see spots, flashing lights or wavy lines called &#8220;aura.&#8221;</li>
                                                            <li style="padding-left:25px">Some might have numbness in the face, hands and arms</li>
                                                        </ul>
                                                    </div>
                                                    <!-- .tm_pb_text -->
                                                </div>
                                                <!-- .tm_pb_column -->
                                            </div>
                                            <!-- .tm_pb_row -->
                                        </div>
                                        <div class="container">
                                            <div class=" row tm_pb_row tm_pb_row_3">
                                                <div class="tm_pb_column tm_pb_column_4_4  tm_pb_column_4 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <div class="tm_pb_text tm_pb_module tm_pb_bg_layout_light tm_pb_text_align_left  tm_pb_text_3">
                                                        <p class="offset1">Stress or a lack of sleep can sometimes bring on a migraine headache. Some sufferers get a migraine headache when a certain type of food is consumed, such as chocolate or caffeine. Migraines may also occur due to neck, shoulder or back problem.</p>
                                                        <p class="offset1">If you suffer with migraines and have not been able to find relief then it&#8217;s time to visit a Doctor of Osteopathic Medicine (D.O.). A D.O. will examine you with a holistic approach to determine the possible cause of your migraine headaches. Sometimes treatment can be as simple as having a few sessions of osteopathic manipulation (OMT) to correct musculoskeletal problems. You might need physical therapy if your migraines are related to back, neck or shoulder problems.</p>
                                                        <p class="offset1">When you visit a D.O. for migraines you will  be heard, an appropriate physical exam and workup will be completed. Your Osteopathic Physician will work with you in developing a treatment plan and follow up visit. Our goal is to improve your quality of life.</p>
                                                        </p>
                                                        <h4>More Benefits</h4>
                                                        </p>
                                                        <p class="offset1">One advantage of visiting a D.O. instead of an M.D. is that a D.O. has the same credentials and training as an M.D., but had extra classes in learning about the musculoskeletal system. D.O.&#8217;s are trained to examine the whole body so even if your migraines are occurring due to other underlying health problems, a D.O. can assess this for you and treat you for the underlying illness or injury as well.</p>
                                                        <p>Our clinic has the ability to treat migraines in house thus avoiding a costly trip to the emergency room.</p>
                                                    </div>
                                                    <!-- .tm_pb_text -->
                                                </div>
                                                <!-- .tm_pb_column -->
                                            </div>
                                            <!-- .tm_pb_row -->
                                        </div>
                                        <div class="container">
                                            <div class=" row tm_pb_row">
                                                <div class="tm_pb_column tm_pb_column_4_4  tm_pb_column_5 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <hr class="tm_pb_module tm_pb_space tm_pb_divider_2" />
                                                </div>
                                                <!-- .tm_pb_column -->
                                            </div>
                                            <!-- .tm_pb_row -->
                                        </div>
                                    </div>
                                    <!-- .tm_pb_section -->
                                </div>
                            </div>
                        </div>
                        <!-- .entry-content -->
                        <footer class="entry-footer">
                        </footer>
                        <!-- .entry-footer -->
                    </article>
                    <!-- #post-## -->
                </main>
                <!-- #main -->
            </div>
            <!-- #primary -->
        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
</div>
<!-- #content -->

{% endblock content %}
