{% extends "base.html" %}


{% block content %}
{{ page.content | safe }}

<div id="content" class="site-content container">
    <div class="breadcrumbs">
        <div class="container">
            <div class="breadcrumbs__title"></div>
            <div class="breadcrumbs__items">
                <div class="breadcrumbs__content">
                    <div class="breadcrumbs__wrap">
                        <div class="breadcrumbs__item"><a href="../index.html" class="breadcrumbs__item-link is-home" rel="home" title="Home">Home</a></div>
                        <div class="breadcrumbs__item">
                            <div class="breadcrumbs__item-sep">|</div>
                        </div>
                        <div class="breadcrumbs__item"><span class="breadcrumbs__item-target">Neck Pain Relief</span></div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="site-content_wrap container">
        <div class="row">
            <div id="primary" class="col-xs-12 col-md-12">
                <main id="main" class="site-main" role="main">
                    <article id="post-1187" class="post-1187 page type-page status-publish hentry no-thumb">
                        <header class="entry-header">
                            <h1 class="entry-title screen-reader-text">Neck Pain Relief</h1>
                        </header>
                        <!-- .entry-header -->
                        <div class="entry-content">
                            <div class="tm_builder_outer_content" id="tm_builder_outer_content">
                                <div class="tm_builder_inner_content tm_pb_gutters3">
                                    <div class="tm_pb_section services-list tm_pb_section_0 tm_section_regular tm_section_transparent">
                                        <div class="container">
                                            <div class=" row tm_pb_row tm_pb_row_0">
                                                <div class="tm_pb_column tm_pb_column_4_4  tm_pb_column_0 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <hr class="tm_pb_module tm_pb_space tm_pb_divider_0" />
                                                    <div class="tm_pb_text tm_pb_module tm_pb_bg_layout_light tm_pb_text_align_left  tm_pb_text_0">
                                                        <h3>Neck Pain Relief: How a D.O. Can Help</h3>
                                                    </div>
                                                    <!-- .tm_pb_text -->
                                                    <hr class="tm_pb_module tm_pb_space tm_pb_divider_1" />
                                                </div>
                                                <!-- .tm_pb_column -->
                                            </div>
                                            <!-- .tm_pb_row -->
                                        </div>
                                        <div class="container">
                                            <div class=" row tm_pb_row tm_pb_row_1">
                                                <div class="tm_pb_column tm_pb_column_4_4  tm_pb_column_1 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <div class="tm_pb_text tm_pb_module tm_pb_bg_layout_light tm_pb_text_align_left  tm_pb_text_1">
                                                        <p class="offset1">
                                                            If you experience neck pain on a regular basis, then you already realize just how debilitating this condition can be. Unfortunately, many people seek a doctor&#8217;s care for neck pain and are put on pain medications that will only treat the symptoms temporarily. A doctor of osteopathic medicine, or D.O., can offer a better long-term solution.
                                                        </p>
                                                    </div>
                                                    <!-- .tm_pb_text -->
                                                </div>
                                                <!-- .tm_pb_column -->
                                            </div>
                                            <!-- .tm_pb_row -->
                                        </div>
                                        <div class="container">
                                            <div class=" row tm_pb_row tm_pb_row_2">
                                                <div class="tm_pb_column tm_pb_column_4_4  tm_pb_column_2 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <div class="tm_pb_text tm_pb_module tm_pb_bg_layout_light tm_pb_text_align_left  tm_pb_text_2">
                                                        <h4>Causes of Neck Pain</h4>
                                                        <p class="offset1">Let&#8217;s explore the causes of neck pain and how a D.O. can help you find the source of your pain, discover true healing with long-term relief. If you live in Appleton, WI, find out how the Osteopathic Medicine &amp; Physical Therapy Group of Northeast Wisconsin can help you reclaim your life.</p>
                                                        <p class="offset1">Neck pain can affect all areas in your neck and sometimes the pain will spread beyond the neck to the shoulders, head, arms or back. While some neck pain is common, particularly with the elderly, chronic or ongoing neck pain is not normal. The neck is designed to be flexible, moving forward and backward without pain or stress. Neck pain, however, can limit your ability to move your neck. This is sometimes referred to as &#8220;stiff neck.&#8221;</p>
                                                    </div>
                                                    <!-- .tm_pb_text -->
                                                </div>
                                                <!-- .tm_pb_column -->
                                            </div>
                                            <!-- .tm_pb_row -->
                                        </div>
                                        <div class="container">
                                            <div class=" row tm_pb_row tm_pb_row_3">
                                                <div class="tm_pb_column tm_pb_column_4_4  tm_pb_column_3 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <div class="tm_pb_text tm_pb_module tm_pb_bg_layout_light tm_pb_text_align_left  tm_pb_text_3">
                                                        <h4>Common causes of neck pain include:</h4>
                                                    </div>
                                                    <!-- .tm_pb_text -->
                                                </div>
                                                <!-- .tm_pb_column -->
                                            </div>
                                            <!-- .tm_pb_row -->
                                        </div>
                                        <div class="container">
                                            <div class=" row tm_pb_row">
                                                <div class="tm_pb_column tm_pb_column_1_4  tm_pb_column_4 col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                                                    <div class="tm_pb_module tm-waypoint tm_pb_image tm_pb_animation_left tm_pb_image_0 tm_always_center_on_mobile">
                                                        <img src="/images/img12.jpg" alt="Osteopathic Manipulative Medicine" />
                                                    </div>
                                                </div>
                                                <!-- .tm_pb_column -->
                                                <div class="tm_pb_column tm_pb_column_3_4  tm_pb_column_5 col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
                                                    <div class="tm_pb_text tm_pb_module tm_pb_bg_layout_light tm_pb_text_align_left  tm_pb_text_4">
                                                        <ul>
                                                            <li style="padding-left:25px">Arthritis</li>
                                                            <li style="padding-left:25px">Activities that strain the neck,</li>
                                                            <li style="padding-left:25px">Sleeping in an awkward position</li>
                                                            <li style="padding-left:25px">Muscle spasms</li>
                                                            <li style="padding-left:25px">Swelling in the joints of the neck</li>
                                                            <li style="padding-left:25px">Staying in a certain position many hours in the day (i.e. working on a computer daily)</li>
                                                        </ul>
                                                    </div>
                                                    <!-- .tm_pb_text -->
                                                </div>
                                                <!-- .tm_pb_column -->
                                            </div>
                                            <!-- .tm_pb_row -->
                                        </div>
                                        <div class="container">
                                            <div class=" row tm_pb_row tm_pb_row_5">
                                                <div class="tm_pb_column tm_pb_column_4_4  tm_pb_column_6 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <div class="tm_pb_text tm_pb_module tm_pb_bg_layout_light tm_pb_text_align_left  tm_pb_text_5">
                                                        <p class="offset1">Neck pain can also be the result of an injury, such as a car accident or a fall. Be aware that untreated neck injuries can lead to more serious condition so it is best to see a D.O. right away.</p>
                                                        <p class="offset1">Chronic neck pain can result in a number of health issues. Such as frequent headaches, tense shoulders, and numbness in the hands, which can all limit your daily activities.</p>
                                                        <h4>Neck Pain Treatment</h4>
                                                        <p class="offset1">Treatments for the neck vary depending on duration, cause, and severity of pain occurring in the individual. Treatment for neck pain may include medications, exercises, manual manipulation (OMT). Many doctors recommend applying ice and/or heated packs to help with neck inflammation. Physical therapy may be recommended for more serious conditions. At Osteopathic Medicine and Physical Therapy Group of Northeast Wisconsin we will tailor a plan that fits you.</p>
                                                        <h4>Benefits of Visiting a D.O. for Neck Pain</h4>
                                                        <p class="offset1">A D.O. is a full licensed physician just like an M.D. (doctor of medicine). The difference is a D.O. receives special training in the musculoskeletal system as well as a hands on approach to healing. A D.O. takes a holistic approach to neck pain to try to discover the source of the pain and how to best treat it. A D.O. can also perform O.M.T on a patient with his hands and focus on preventative care and natural healing by the body.</p>
                                                    </div>
                                                    <!-- .tm_pb_text -->
                                                </div>
                                                <!-- .tm_pb_column -->
                                            </div>
                                            <!-- .tm_pb_row -->
                                        </div>
                                        <div class="container">
                                            <div class=" row tm_pb_row tm_pb_row_6">
                                                <div class="tm_pb_column tm_pb_column_4_4  tm_pb_column_7 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <hr class="tm_pb_module tm_pb_space tm_pb_divider_2" />
                                                </div>
                                                <!-- .tm_pb_column -->
                                            </div>
                                            <!-- .tm_pb_row -->
                                        </div>
                                    </div>
                                    <!-- .tm_pb_section -->
                                </div>
                            </div>
                        </div>
                        <!-- .entry-content -->
                        <footer class="entry-footer">
                        </footer>
                        <!-- .entry-footer -->
                    </article>
                    <!-- #post-## -->
                </main>
                <!-- #main -->
            </div>
            <!-- #primary -->
        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
</div>
<!-- #content -->

{% endblock content %}
