{% extends "base.html" %}


{% block content %}
{{ page.content | safe }}

<div id="content" class="site-content container">
    <div class="breadcrumbs">
        <div class="container">
            <div class="breadcrumbs__title"></div>
            <div class="breadcrumbs__items">
                <div class="breadcrumbs__content">
                    <div class="breadcrumbs__wrap">
                        <div class="breadcrumbs__item"><a href="../index.html" class="breadcrumbs__item-link is-home" rel="home" title="Home">Home</a></div>
                        <div class="breadcrumbs__item"><div class="breadcrumbs__item-sep">|</div></div>
                        <div class="breadcrumbs__item"><span class="breadcrumbs__item-target">Osteopathic Treatments</span></div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="site-content_wrap container">
        <div class="row">
            <div id="primary" class="col-xs-12 col-md-12">
                <main id="main" class="site-main" role="main">
                    <article id="post-1198" class="post-1198 page type-page status-publish hentry no-thumb">
                        <header class="entry-header">
                            <h1 class="entry-title screen-reader-text">Osteopathic Treatments</h1>
                        </header>
                        <!-- .entry-header -->

                        <div class="entry-content">
                            <div class="tm_builder_outer_content" id="tm_builder_outer_content">
                                <div class="tm_builder_inner_content tm_pb_gutters3">
                                    <div class="tm_pb_section services-list tm_pb_section_0 tm_section_regular tm_section_transparent">
                                        <div class="container">
                                            <div class="row tm_pb_row tm_pb_row_0">
                                                <div class="tm_pb_column tm_pb_column_4_4 tm_pb_column_0 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <hr class="tm_pb_module tm_pb_space tm_pb_divider_0" />
                                                    <div class="tm_pb_text tm_pb_module tm_pb_bg_layout_light tm_pb_text_align_left tm_pb_text_0">
                                                        <h3>Osteopathic Treatments</h3>
                                                    </div>
                                                    <!-- .tm_pb_text -->
                                                    <hr class="tm_pb_module tm_pb_space tm_pb_divider_1" />
                                                </div>
                                                <!-- .tm_pb_column -->
                                            </div>
                                            <!-- .tm_pb_row -->
                                        </div>
                                        <div class="container">
                                            <div class="row tm_pb_row tm_pb_row_1">
                                                <div class="tm_pb_column tm_pb_column_1_2 tm_pb_column_1 col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                    <div class="tm_pb_text tm_pb_module tm_pb_bg_layout_light tm_pb_text_align_left tm_pb_text_1">
                                                        <h4>Back/Buttock/Leg Pain</h4>
                                                        <ul>
                                                            <li style="padding-left: 25px; color: #616262;">Arthritis of the Lumbar Spine</li>
                                                            <li style="padding-left: 25px; color: #616262;">Chronic Low Back Pain and Muscle Pain</li>
                                                            <li style="padding-left: 25px; color: #616262;">Degenerative Disc Disease</li>
                                                            <li style="padding-left: 25px; color: #616262;">Herniated Disc</li>
                                                            <li style="padding-left: 25px; color: #616262;">Lumbar Spinal Stenosis</li>
                                                            <li style="padding-left: 25px; color: #616262;">Meralgia Paresthetica, Lateral Femoral Cutaneous Nerve or Outer Thigh Pain</li>
                                                            <li style="padding-left: 25px; color: #616262;">Spondylolisthesis and Spondylosis</li>
                                                            <li style="padding-left: 25px; color: #616262;">Buttock Pain and Sacroiliac Joint Dysfunction</li>
                                                            <li style="padding-left: 25px; color: #616262;">Coccydynia and Tailbone Pain</li>
                                                            <li style="padding-left: 25px; color: #616262;">Sciatica</li>
                                                        </ul>
                                                        <h4>Joint Pain &#8211; Knees, Hips, Shoulders, Wrists, Ankles, Hand and Feet</h4>
                                                        <ul>
                                                            <li style="padding-left: 25px; color: #616262;">Degenerative Arthritis</li>
                                                            <li style="padding-left: 25px; color: #616262;">Sports Injuries</li>
                                                            <li style="padding-left: 25px; color: #616262;">Meniscal Tears</li>
                                                            <li style="padding-left: 25px; color: #616262;">Joint Swelling</li>
                                                            <li style="padding-left: 25px; color: #616262;">Post-Surgical Pain</li>
                                                            <li style="padding-left: 25px; color: #616262;">De Quervain&#8217;s Tendinitis</li>
                                                        </ul>
                                                        <h4>Headaches</h4>
                                                        <ul>
                                                            <li style="padding-left: 25px; color: #616262;">Occipital Neuralgia</li>
                                                            <li style="padding-left: 25px; color: #616262;">Cervicogenic Headaches</li>
                                                        </ul>
                                                    </div>
                                                    <!-- .tm_pb_text -->
                                                </div>
                                                <!-- .tm_pb_column -->
                                                <div class="tm_pb_column tm_pb_column_1_2 tm_pb_column_2 col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                    <div class="tm_pb_text tm_pb_module tm_pb_bg_layout_light tm_pb_text_align_left tm_pb_text_2">
                                                        <h4>Neck/Shoulder/Arm Pain</h4>
                                                        <ul>
                                                            <li style="padding-left: 25px; color: #616262;">Arthritis of the Cervical Spine</li>
                                                            <li style="padding-left: 25px; color: #616262;">Chronic Neck Pain</li>
                                                            <li style="padding-left: 25px; color: #616262;">Chronic Neck and Shoulder Spasms</li>
                                                            <li style="padding-left: 25px; color: #616262;">Cervical Spinal Stenosis</li>
                                                            <li style="padding-left: 25px; color: #616262;">Spondylolisthesis and Spondylosis</li>
                                                            <li style="padding-left: 25px; color: #616262;">Frozen Shoulder</li>
                                                            <li style="padding-left: 25px; color: #616262;">Herniated Discs</li>
                                                            <li style="padding-left: 25px; color: #616262;">Degenerative Disc Disease</li>
                                                            <li style="padding-left: 25px; color: #616262;">Neck Pain</li>
                                                            <li style="padding-left: 25px; color: #616262;">Whiplash Injury</li>
                                                        </ul>
                                                        <h4>Nerve Pain</h4>
                                                        <ul>
                                                            <li style="padding-left: 25px; color: #616262;">Postherpetic Neuralgia (PHN)</li>
                                                            <li style="padding-left: 25px; color: #616262;">Intercostal Neuralgia</li>
                                                            <li style="padding-left: 25px; color: #616262;">Occipital Neuralgia</li>
                                                            <li style="padding-left: 25px; color: #616262;">Ilioinguinal Nerve Pain, Post Hernia Repair Inguinal Pain</li>
                                                            <li style="padding-left: 25px; color: #616262;">Genitofemoral Nerve Pain</li>
                                                            <li style="padding-left: 25px; color: #616262;">Meralgia Paresthetica, Lateral Femoral Cutaneous or Outer Thigh Pain</li>
                                                            <li style="padding-left: 25px; color: #616262;">Chest Wall or Intercostal Pain</li>
                                                            <li style="padding-left: 25px; color: #616262;">Diabetic Neuropathy</li>
                                                        </ul>
                                                        <h4>Hip Pain</h4>
                                                        <ul>
                                                            <li style="padding-left: 25px; color: #616262;">Hip Pain</li>
                                                            <li style="padding-left: 25px; color: #616262;">Piriformis Syndrome</li>
                                                        </ul>
                                                    </div>
                                                    <!-- .tm_pb_text -->
                                                </div>
                                                <!-- .tm_pb_column -->
                                            </div>
                                            <!-- .tm_pb_row -->
                                        </div>
                                        <div class="container">
                                            <div class="row tm_pb_row tm_pb_row_2">
                                                <div class="tm_pb_column tm_pb_column_4_4 tm_pb_column_3 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <hr class="tm_pb_module tm_pb_space tm_pb_divider_2" />
                                                </div>
                                                <!-- .tm_pb_column -->
                                            </div>
                                            <!-- .tm_pb_row -->
                                        </div>
                                    </div>
                                    <!-- .tm_pb_section -->
                                </div>
                            </div>
                        </div>
                        <!-- .entry-content -->

                        <footer class="entry-footer"></footer>
                        <!-- .entry-footer -->
                    </article>
                    <!-- #post-## -->
                </main>
                <!-- #main -->
            </div>
            <!-- #primary -->
        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
</div>
<!-- #content -->

{% endblock content %}
