{% extends "base.html" %}


{% block content %}
{{ page.content | safe }}

<div id="content" class="site-content container">
    <div class="breadcrumbs">
        <div class="container">
            <div class="breadcrumbs__title"></div>
            <div class="breadcrumbs__items">
                <div class="breadcrumbs__content">
                    <div class="breadcrumbs__wrap">
                        <div class="breadcrumbs__item"><a href="../index.html" class="breadcrumbs__item-link is-home" rel="home" title="Home">Home</a></div>
                        <div class="breadcrumbs__item"><div class="breadcrumbs__item-sep">|</div></div>
                        <div class="breadcrumbs__item"><span class="breadcrumbs__item-target">Physical Therapy</span></div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="site-content_wrap container">
        <div class="row">
            <div id="primary" class="col-xs-12 col-md-12">
                <main id="main" class="site-main" role="main">
                    <article id="post-1192" class="post-1192 page type-page status-publish hentry no-thumb">
                        <header class="entry-header">
                            <h1 class="entry-title screen-reader-text">Physical Therapy</h1>
                        </header>
                        <!-- .entry-header -->

                        <div class="entry-content">
                            <div class="tm_builder_outer_content" id="tm_builder_outer_content">
                                <div class="tm_builder_inner_content tm_pb_gutters3">
                                    <div class="tm_pb_section services-list tm_pb_section_0 tm_section_regular tm_section_transparent">
                                        <div class="container">
                                            <div class="row tm_pb_row tm_pb_row_0">
                                                <div class="tm_pb_column tm_pb_column_4_4 tm_pb_column_0 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <hr class="tm_pb_module tm_pb_space tm_pb_divider_0" />
                                                    <div class="tm_pb_text tm_pb_module tm_pb_bg_layout_light tm_pb_text_align_left tm_pb_text_0">
                                                        <h3>Physical Therapy Explained and How It Can Help You</h3>
                                                    </div>
                                                    <!-- .tm_pb_text -->
                                                    <hr class="tm_pb_module tm_pb_space tm_pb_divider_1" />
                                                </div>
                                                <!-- .tm_pb_column -->
                                            </div>
                                            <!-- .tm_pb_row -->
                                        </div>
                                        <div class="container">
                                            <div class="row tm_pb_row tm_pb_row_1">
                                                <div class="tm_pb_column tm_pb_column_4_4 tm_pb_column_1 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <div class="tm_pb_text tm_pb_module tm_pb_bg_layout_light tm_pb_text_align_left tm_pb_text_1">
                                                        <p class="offset1">
                                                            Whether you&#8217;ve been injured or have an illness that causes ongoing problems in the neck, back, shoulders, wrists, knees or other areas of the body, physical
                                                            therapy might be the solution. Physical Therapy can provide a hands-on, non-surgical solution for anyone that&#8217;s experiencing ongoing pain. Here at Osteopathic
                                                            Medicine &amp; Physical Therapy Group of Northeast Wisconsin in Appleton, WI, we strive to help patients find the source of their pain and develop a solution. Physical
                                                            therapy is an important aspect of our treatment and often provides an effective alternative to surgery for many of our patients. Let&#8217;s explore how physical
                                                            therapy works and how it can benefit you.
                                                        </p>
                                                    </div>
                                                    <!-- .tm_pb_text -->
                                                </div>
                                                <!-- .tm_pb_column -->
                                            </div>
                                            <!-- .tm_pb_row -->
                                        </div>
                                        <div class="container">
                                            <div class="row tm_pb_row tm_pb_row_2">
                                                <div class="tm_pb_column tm_pb_column_4_4 tm_pb_column_2 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <div class="tm_pb_text tm_pb_module tm_pb_bg_layout_light tm_pb_text_align_left tm_pb_text_2">
                                                        <h4>Why is it called &#8220;hands-on&#8221; treatment?</h4>
                                                    </div>
                                                    <!-- .tm_pb_text -->
                                                </div>
                                                <!-- .tm_pb_column -->
                                            </div>
                                            <!-- .tm_pb_row -->
                                        </div>
                                        <div class="container">
                                            <div class="row tm_pb_row tm_pb_row_3">
                                                <div class="tm_pb_column tm_pb_column_1_4 tm_pb_column_3 col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                                                    <div class="tm_pb_module tm-waypoint tm_pb_image tm_pb_animation_left tm_pb_image_0 tm_always_center_on_mobile">
                                                        <img src="/images/img13.jpg" alt="Osteopathic Manipulative Medicine" />
                                                    </div>
                                                </div>
                                                <!-- .tm_pb_column -->
                                                <div class="tm_pb_column tm_pb_column_3_4 tm_pb_column_4 col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
                                                    <div class="tm_pb_text tm_pb_module tm_pb_bg_layout_light tm_pb_text_align_left tm_pb_text_3">
                                                        <p class="offset1">
                                                            Physical therapy involves using the hands on certain areas of the body to correct alignment issues and provide relief for muscles or joints that are strained. Its use
                                                            helps improve circulation for some areas of the body and can relieve pressure that&#8217;s often caused by fluid buildup.
                                                        </p>
                                                        <p class="offset1">
                                                            Physical therapy addresses the musculoskeletal, lymphatic, vascular and neurologic systems of the body. A Doctor of Osteopathic Medicine (D.O.) may use physical therapy
                                                            to treat neck pain, back pain, shoulder pain, carpal tunnel syndrome, migraine headaches and any number of pain-causing conditions.
                                                        </p>
                                                    </div>
                                                    <!-- .tm_pb_text -->
                                                </div>
                                                <!-- .tm_pb_column -->
                                            </div>
                                            <!-- .tm_pb_row -->
                                        </div>
                                        <div class="container">
                                            <div class="row tm_pb_row">
                                                <div class="tm_pb_column tm_pb_column_4_4 tm_pb_column_5 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <div class="tm_pb_text tm_pb_module tm_pb_bg_layout_light tm_pb_text_align_left tm_pb_text_4">
                                                        <h4>Your Benefits</h4>
                                                        <p>
                                                            How can physical therapy benefit you? It can provide a long-term solution without the need for surgery in many cases. It can restore normal movement and function for
                                                            areas of the body that have been strained or immobile for a while. Physical therapy often can, most importantly, provide pain relief without the use of strong pain
                                                            medications.
                                                        </p>
                                                        <p>Stop by our office today to learn more about physical therapy and how it can help you.</p>
                                                    </div>
                                                    <!-- .tm_pb_text -->
                                                </div>
                                                <!-- .tm_pb_column -->
                                            </div>
                                            <!-- .tm_pb_row -->
                                        </div>
                                        <div class="container">
                                            <div class="row tm_pb_row tm_pb_row_5">
                                                <div class="tm_pb_column tm_pb_column_4_4 tm_pb_column_6 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <div class="tm_pb_text tm_pb_module tm_pb_bg_layout_light tm_pb_text_align_left tm_pb_text_5">
                                                        <h4>What Are The Reported Benefits from Osteopathic Treatment?</h4>
                                                        <p class="offset1">
                                                            The benefits list of osteopathy therapy or osteopathy in New York is as long as the types of dysfunction that can present in the body. Many people think that the
                                                            benefits are isolated to back pain and injuries. However, Osteopaths specialize in treating the healthful functioning of the whole body.
                                                        </p>
                                                    </div>
                                                    <!-- .tm_pb_text -->
                                                </div>
                                                <!-- .tm_pb_column -->
                                            </div>
                                            <!-- .tm_pb_row -->
                                        </div>
                                        <div class="container">
                                            <div class="row tm_pb_row tm_pb_row_6">
                                                <div class="tm_pb_column tm_pb_column_4_4 tm_pb_column_7 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <div class="tm_pb_text tm_pb_module tm_pb_bg_layout_light tm_pb_text_align_left tm_pb_text_6">
                                                        <h4>How Much Does It Cost to be treated by Osteopathic Doctor?</h4>
                                                        <p>
                                                            Osteopathic doctors are practicing in a huge variety of settings and environments so the cost will be influenced accordingly. They are licensed to practice the same
                                                            scope of medicine as medical doctors so expect costs to be in a similar range. To learn more about osteopathic treatment prices please contact our Osteopathic Clinics
                                                            in Brooklyn, NY.
                                                        </p>
                                                    </div>
                                                    <!-- .tm_pb_text -->
                                                </div>
                                                <!-- .tm_pb_column -->
                                            </div>
                                            <!-- .tm_pb_row -->
                                        </div>
                                        <div class="container">
                                            <div class="row tm_pb_row tm_pb_row_7">
                                                <div class="tm_pb_column tm_pb_column_4_4 tm_pb_column_8 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <div class="tm_pb_text tm_pb_module tm_pb_bg_layout_light tm_pb_text_align_left tm_pb_text_7">
                                                        <h4>What Kind of Training Does Osteopath Have?</h4>
                                                        <p class="offset1">
                                                            Registered Osteopaths have a degree or diploma in Osteopathy. Osteopaths attend four-year osteopathic medical schools. In addition to traditional medical school,
                                                            osteopaths receive 300-500 hours of structural diagnosis and hands-on treatment. Osteopaths are qualified to perform surgery and prescribe drugs. Many Osteopathic
                                                            schools offer masters in public health, research, or education, or PhD’s, in combination with the Doctor of Osteopathy.
                                                        </p>
                                                    </div>
                                                    <!-- .tm_pb_text -->
                                                </div>
                                                <!-- .tm_pb_column -->
                                            </div>
                                            <!-- .tm_pb_row -->
                                        </div>
                                        <div class="container">
                                            <div class="row tm_pb_row tm_pb_row_8">
                                                <div class="tm_pb_column tm_pb_column_4_4 tm_pb_column_9 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <hr class="tm_pb_module tm_pb_space tm_pb_divider_2" />
                                                </div>
                                                <!-- .tm_pb_column -->
                                            </div>
                                            <!-- .tm_pb_row -->
                                        </div>
                                    </div>
                                    <!-- .tm_pb_section -->
                                </div>
                            </div>
                        </div>
                        <!-- .entry-content -->

                        <footer class="entry-footer"></footer>
                        <!-- .entry-footer -->
                    </article>
                    <!-- #post-## -->
                </main>
                <!-- #main -->
            </div>
            <!-- #primary -->
        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
</div>
<!-- #content -->

{% endblock content %}
